# Python
*.pyc
__pycache__/
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Byte-compiled / cache
*.pyo
*.pyd

# Virtual environment
venv/
env/

# FastAPI logs or artifacts
*.log

# Flutter (frontend)
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/pubspec.lock

# Flutter & Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Builds
build/
frontend/build/

# Ignorar archivos .env
frontend/.env
backend/.env

# entorno local
.idea/
.vs/
*.iml